*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  background-color: #fce1f2;
}

a{
  text-decoration: none;
}

li, ul{
  list-style: none;
}
img{
  width:200px;
}
