.product-tile{
  display: flex;
  flex-flow: column;
}

.tile-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.img-link{
  margin: 20px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
}
