.product-tile{
  display: flex;
  flex-flow: column;
}

.tile-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  border: 1px solid red;
}

.img-link{
  margin: 20px;
  width: 300px;
}
