//Google Fonts

//Color Variables

$white: #f4f4f4;
$grey: #707070;
$black: #0c0c0c;
$light-grey: #c9c9c9;
$maroon: #521231;

//Color Descriptor Variables

$logo-color: $white;
$text-color: $black;
$text-color-secondary: $grey;
$footer-color: $light-grey;

// Fonts
$text-font: 'Merriweather';
$header-font: 'Lato';
$text-size: 0.8em;

//Borders

$border-main: 1px solid $light-grey;
$border-radius: 4px;



//Spacers

$container-margin: auto;
$container-small-width: 85%;
$container-medium-width: 80%;
$container-max-width: 500px;
$content-max-width: 500px;

//text adjustments
$line-h: 20px;
$letter-spacing: 1px;
$letter-spacing-logo: 10px;
