<nav>
  <h1>Androgynous Short Shorts</h1>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li>{{#link-to 'cart'}}<i class="fa fa-shopping-cart"></i>{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}

<footer>
  <i class="fa fa-twitter-square" aria-hidden="true"></i>
  <i class="fa fa-facebook-square" aria-hidden="true"></i>
  <i class="fa fa-pinterest-square" aria-hidden="true"></i>
</footer>
