<nav>
  <h1>A.S.S.</h1>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li>{{#link-to 'cart'}}<i class="fa fa-shopping-cart"></i>{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}

<footer>
  Shorts Copyright Short Short Association of America 2016
</footer>
