<div class="hero">
  <h1>Androgynous Short Shorts</h1>
  <h2>Like shorts but shorter.</h2>
</div>

{{itemCount}}

<div class="tile-container">
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</div>
