<h1>Androgynous Short Shorts</h1>
<h3>Like shorts but shorter.</h3>

<ul>
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</ul>

<h2>Cart:</h2>
<ul>
  {{display-cart item="item"}}
</ul>

{{#link-to 'admin'}}Admin{{/link-to}}
